target
.bloop
.idea
*.autosave
*.orig
*.sw?
*.test
*.pb.go
*~
debug
.cache
.env
.envrc
.idea
.lvimrc
.pids
.vscode
!.vscode/launch.json
derby.log
metastore_db
/bazel-*
/protocols/bazel-*
protocols/*/*.go
/tools/*.tar.gz
/tools/bazel-deps-*
/tools/gopath
/protocols/**/*.pb.go
.project
.ensime*
